@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500;600&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    font-family: "Raleway", sans-serif;
}
body{
    background: #334433;
    height: 100vh;
}
.sidebar{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 250px;
    background: hsl(140, 24%, 33%);
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
    transition: .3s;
}
.sidebar .close{
    position: absolute;
    right: 5px;
    top: 5px;
    background: #334433;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
}
.close:hover{
    rotate: 90deg;
}
.sidebar .open{
    opacity: 0;
    position: fixed;
    left: 5px;
    top: 10px;
    background: #334433;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
}
.open:hover{
    translate: 3px;
}
.logo{
    width: 100%;
    font-size: 1.7rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.navlist{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.navlist li{
    width: 100%;
    background: red;
    font-size: 1.3rem;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: hsl(130, 15%, 23%);
    color: white;
    font-weight: 500;
    transition:.3s;
}
.navlist li:hover{
    background: hsl(128, 13%, 21%);
}
.navlist li:hover span{
    transform: translateX(10px);
    transition: .2s ease-in-out;
}
.setting{
    width: 100%;
    background: red;
    font-size: 1.3rem;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: hsl(130, 15%, 23%);
    color: white;
    font-weight: 500;
    transition:.3s;
}
.setting:hover{
    background: hsl(128, 13%, 21%);
}
.setting:hover span{
    transform: translateX(10px);
    transition: .2s ease-in-out;
}
.setting:hover i{
    rotate: 45deg;
    transition: .4s;
}
@media only screen and (max-width: 600px){
    .sidebar{
        width: 80px;
    }
    .sidebar span{
        position: absolute;
        left: 80px;
        background: hsl(140, 24%, 33%);
        padding: 10px;
        border-radius: 10px;
        font-size: 1rem;
        opacity: 0;
    }
    .navlist li:hover{
        box-shadow: 0 0 20px rgba(0,0,0,.3);
    }
    .navlist li:hover i{
        scale: 1.1;
    }
    .navlist li:hover span{
        opacity: 1;
    }
    .sidebar div:hover span{
        opacity: 1;
    }
    .sidebar li, .setting{
        justify-content: center;
        width: 80%;
    }
}